.wrapper_otp {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, $primary-color 0%, $primary-color2 100%),
        radial-gradient(circle at top left, $primary-color, $primary-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container_otp {
    text-align: center;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    h1 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #333;
    }
    p {
        font-size: 14px;
        margin-bottom: 20px;
        color: #666;
    }
    .otp-inputs {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        input {
            width: 50px;
            height: 50px;
            font-size: 18px;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            transition: border-color 0.2s;
            &:focus {
                border-color: $primary-color;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
            }
        }
    }
    .btn-submit {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        font-family: $title-font;
        font-weight: 500;
        color: #fff;
        outline: none !important;
        background-origin: border-box;
        background-image: linear-gradient(to right, $primary-color 0%, $primary-color2 100%),
            radial-gradient(circle at top left, $primary-color, $primary-color2);
        border: double 2px transparent;
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
        &:hover {
            background-image: linear-gradient(#ffffff, #ffffff),
                radial-gradient(circle at top left, $primary-color, $primary-color2);
            border: 2px solid $primary-color2;
            color: #222222;
            box-shadow: none;
            background-clip: border-box;
        }
    }
}
